{% extends "base.html" %}
<!-- bloco do atualizar tarefas -->
{% block content %}
<div class="container mt-5">
    <h1>Atualizar Tarefa</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome_tarefa" class="form-label">Nome da Tarefa</label>
            <input type="text" class="form-control" id="nome_tarefa" name="nome_tarefa" value="{{ tarefa.nome_tarefa }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Status da Tarefa</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="feita_sim" name="feita" value="1" {% if tarefa.feita == 1 %} checked {% endif %}>
                <label class="form-check-label" for="feita_sim">✔</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="feita_nao" name="feita" value="0" {% if tarefa.feita == 0 %} checked {% endif %}>
                <label class="form-check-label" for="feita_nao">✖</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Atualizar</button>
    </form>
</div>
{% endblock content %}